header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  display: block;
  margin-inline: 2rem;
}

#profile {
  display: block;
}

#profile > div {
  max-width: 18.5rem;
}

#profile h1 {
  font: 600 1.5rem/125% var(--font-family);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile img {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  border-radius: 50%;
}

#info {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width >=80em) {
  header {
    width: 100%;
    display: inline-block;
    align-items: center;

    & .container {
      padding-inline: 2rem;
      display: flex;
      margin-inline: auto;
      justify-content: space-between;

      & #profile {
        display: flex;
        gap: 32px;

        & div:nth-child(1) {
          max-width: 24rem;
        }

        & h1 {
          font: var(--text-lg);
          color: var(--text-color-primary);
          margin-bottom: 8px;
        }

        & img {
          width: 176px;
          height: 176px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      & #info {
        & li {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}