main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  margin-block: 1rem;
}

main img{
  width: 20.5rem;
  height: 20.5rem;
}

@media (width >= 80em) {
  main {
    max-width: 80em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-inline: 2rem;
    margin-block: 1.5rem;

    & img{
      width: 17.875rem;
      height: 17.875rem;
      object-fit: cover;
    }
  }
}